<template>
  <section class="section">
    <video-background
      :src="require('@/assets/video/camcorder.mp4')"
      objectFit="contain"
      class="video-container"
    >
      <div class="has-text-centered text-container">
        <div class="text-vertical-centered">
          <h1 class="title">Vistream</h1>
          <h2 class="is-size-4 subtitle">
            For <em>your</em> favorite movie nights.
          </h2>
          <figure class="image is-inline-block">
            <img
              src="../assets/logo.png"
              alt="vistream logo"
              class="is-rounded"
            />
          </figure>
        </div>
      </div>
    </video-background>
  </section>
</template>

<script>
export default {
  name: "hero",
};
</script>

<style scoped>
.text-vertical-centered {
  position: absolute;
  top: 39%;
  left: 50%;
  margin-top: -9%;
  transform: translateX(-50%);
}

.text-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../assets/movieHero.jpg");
}

.video-container {
  max-height: 600px;
  height: 50vh;
  width: 110% !important;
  position: relative;
  left: -5%;
  background-image: url("../assets/movieHero.jpg");
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.89);
}

section {
  background-color: hsl(0, 0%, 20%) !important;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.89);
  animation: fadein 1s;
  padding-bottom: 0;
}

.section {
  background-color: hsl(0, 0%, 20%) !important;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(
    to right,
    rgba(232, 84, 17, 1) 0%,
    rgba(246, 2, 2, 1) 35%,
    rgba(255, 217, 0, 1) 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
  margin-top: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.image {
  width: 30%;
  height: auto;
  -webkit-filter: drop-shadow(0px 0px 5px #000);
  filter: drop-shadow(0px 0px 20px) contrast(1.4) saturate(20);
  animation: fadein 1s ease-in, rotation 20s infinite linear;
  border-radius: 9998px;
}

.subtitle {
  color: lightgray !important;
  letter-spacing: 3px;
  animation: fadeinLong 2s ease-in;
  font-size: calc(16px + 6 * ((100vw - 300px) / 600)) !important;
  white-space: nowrap;
}

.title:hover {
  transform: scale(0.97);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadeinLong {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
