<template>
  <div class="columns is-centered has-text-centered">
    <div class="column is-5-desktop is-6-tablet is-8-mobile is-offset-2-mobile">
      <input v-model="query" class="input" placeholder="Search: Tom & Jerry" />
    </div>
  </div>

  <transition-group
    name="staggered-fade"
    v-bind:css="false"
    v-on:before-enter="beforeEnter"
    v-on:enter="enter"
    v-on:leave="leave"
  >
    <h1 class="customtitle">Top-rated movies</h1>
    <div class="columns features is-multiline has-text-centered">
      <Video
        :videoList="videos"
        v-for="(video, index) in computedList"
        :key="video.full_name"
        :data-index="index"
        :video="this.videos[index]"
        class="column is-4 is-centered"
        >{{ video.full_name }}
      </Video>
    </div>

    <h1 class="customtitle">Latest movies</h1>
    <div class="columns features is-multiline has-text-centered">
      <Video
        :videoList="videos"
        v-for="(video, index) in computedList"
        :key="video.full_name"
        :data-index="index"
        :video="this.videos[index]"
        class="column is-4 is-centered"
        >{{ video.full_name }}
      </Video>
    </div>
  </transition-group>
</template>

<script>
import Video from "../components/Video.vue";
import Velocity from "velocity-animate";

export default {
  loading: true,
  components: { Video },
  head: {
    title: "Vistream | Home",
  },
  created() {
    this.fetchVideos();
  },
  data() {
    return {
      query: "",
      loading: true,
      fetchError: false,
      quotes: [
        "One more 🥺?",
        "It's movie time!",
        "Making popcorn...",
        "Oh I've seen these already!",
        "Anything new?",
        "That's my favorite!",
        "Ewa broer fix film",
      ],
      videos: [],
    };
  },

  computed: {
    computedList: function () {
      let vm = this;
      return this.videos.filter(function (video) {
        return (
          video.full_name.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
        );
      });
    },
  },
  methods: {
    async fetchVideos() {
      try {
        this.videos = await fetch(
          `${process.env.VUE_APP_API_HOST}/api/movies/get-movies`
        )
          .then((res) => res.json())
          .then((fetchResult) => fetchResult);
        if (this.videos[0].url_name === undefined || this.videos.length < 3) {
          this.videos = [];
          this.fetchError = true;
          this.$toast.error(
            "Trying to fetch corrupt movie data. Try again later."
          );
        }
      } catch (e) {
        this.fetchError = true;
        this.$toast.error(
          "There was an error fetching your movies. Try again later."
        );
      }
      this.loading = false;
    },
    beforeEnter: function (el) {
      el.style.opacity = 0;
      el.style.height = 0;
    },
    enter: function (el, done) {
      let delay = el.dataset.index * 150;
      setTimeout(function () {
        Velocity(el, { opacity: 1, height: "1.6em" }, { complete: done });
      }, delay);
    },
    leave: function (el, done) {
      let delay = el.dataset.index * 150;
      setTimeout(function () {
        Velocity(el, { opacity: 0, height: 0 }, { complete: done });
      }, delay);
    },
  },
  mounted() {
    let randomQuote = Math.floor(Math.random() * this.quotes.length);
    this.$toast.info(this.quotes[randomQuote]);
  },
  fetchDelay: 1000,
};
</script>
<style scoped>
.input {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.89);
  margin: 30px 0;
  animation: fadeinLong 2s ease-in;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: grey !important;
  opacity: 0.5 !important;
  font-weight: bold;
}

@keyframes fadeinLong {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.customtitle {
  background: linear-gradient(
    to right,
    rgba(232, 84, 17, 1) 0%,
    rgba(246, 2, 2, 1) 35%,
    rgba(255, 217, 0, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-left: 20px;
  font-size: 30px;
  line-height: 1.1;
}
</style>
