<template>
  <nav class="navbar is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <router-link class="navbar-item" to="/"
          ><h1 class="title">Vistream</h1></router-link
        >
        <router-link class="navbar-item" to="/movies">Movies</router-link>
        <router-link
          v-if="this.isLoggedIn"
          class="navbar-item"
          :to="{
            name: 'favorites',
            params: { id: this.$store.state.user.id },
          }"
          >My List
        </router-link>

        <a
          role="button"
          class="navbar-burger is-light"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarvistream"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarvistream" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item" v-if="this.isLoggedIn">
            <figure>
              <img
                class="avatar"
                :src="this.$store.state.user.avatar_url"
                alt="avatar"
              />
            </figure>
          </div>
          <div
            class="navbar-item has-dropdown is-hoverable"
            v-if="this.isLoggedIn"
          >
            <a class="navbar-link">
              {{ this.$store.state.user.username }}
            </a>
            <div class="navbar-dropdown is-boxed">
              <router-link
                class="navbar-item"
                :to="{
                  name: 'user',
                  params: { id: this.$store.state.user.id },
                }"
                >My Profile
              </router-link>
              <hr class="navbar-divider" />
              <a class="navbar-item" @click="logoutClient">Logout</a>
            </div>
          </div>
          <template v-else>
            <router-link class="navbar-item" to="/register"
              >Register
            </router-link>
            <router-link class="navbar-item" to="/login">Log In</router-link>
          </template>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["isLoggedIn"]),
  },
  methods: {
    //TODO: dispatch store
    logoutClient() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    },
  },

  mounted() {
    document.addEventListener("DOMContentLoaded", () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(
        document.querySelectorAll(".navbar-burger"),
        0
      );

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
        // Add a click event on each of them
        $navbarBurgers.forEach((el) => {
          el.addEventListener("click", () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle("is-active");
            $target.classList.toggle("is-active");
          });
        });
      }
    });
  },
};
</script>

<style scoped>
.navbar {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.89);
  color: white !important;
}

.avatar {
  padding: 0;
  margin-top: 7px;
}

.navbar-item,
.navbar,
.navbar-dropdown,
.navbar-link {
  color: white !important;
  font-weight: lighter;
  background-color: hsl(0, 0%, 20%) !important;
  transition: 0.15s ease-in-out;
}

#navbarvistream {
  padding: 0;
}

.navbar-item:hover {
  color: red !important;
}

.navbar-dropdown:hover {
}

.title {
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(
    to right,
    rgba(232, 84, 17, 1) 0%,
    rgba(246, 2, 2, 1) 35%,
    rgba(255, 217, 0, 1) 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
  margin-top: 2px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
</style>
