<template>
  <section class="container section">
    <router-link :to="{ name: 'player', params: { video: video.url_name } }">
      <figure class="vidImage">
        <img :src="video.poster_url" :alt="video.name" />
        <figcaption>
          <div class="imdb">{{ video.imdb }}</div>

          <h3 class="is-size-5-tablet is-size-4-desktop">
            {{ video.full_name }}
          </h3>
          <h5 class="is-size-6-tablet is-size-5-desktop">
            {{ video.duration }} mins
          </h5>
          <p class="is-size-6-tablet is-size-6-desktop has-text-left">
            {{ video.description }}
          </p>
        </figcaption>
      </figure>
    </router-link>
  </section>
</template>

<script>
export default {
  props: ["video"],
};
</script>

<style scoped>
.imdb {
  background-color: orangered;
  width: 40px;
  color: white;
  overflow: hidden;
  margin-left: 85%;
}

router-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

figcaption {
  display: inline-block;
}

figure img {
  transform: scale(1);
  transform-origin: 50% 65%;
  transition: transform 3s, filter 0.5s ease-in-out;
  max-width: 500px;
  min-width: 350px;
  min-height: 200px;
  max-height: 300px;
  height: auto;
  width: 100%;
  vertical-align: top;
}

figure:hover img {
  -webkit-transform: scale(1);
  filter: brightness(20%) blur(2px);

  transform: scale(1.2);
}

figure {
  height: auto;
  overflow: hidden;

  transform: scale(1);
  transition: 4s ease-in-out;
}

figure h3,
h5,
p {
  box-sizing: border-box;
  transition: all 0.1s ease;
}

figure:before {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: "";
  background-color: rgba(51, 51, 51, 0.9);
  transition: all 0.1s ease;
  transition-delay: 0.1s;
}

figure figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-left: 20px;
  padding-top: 10px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

figure h3,
figure h5,
figure p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

figure h3 {
  font-family: "Roboto", cursive;
  font-size: 20px;
  transform: translateY(100%);
  text-transform: uppercase;
  font-weight: 400;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}

figure p {
  font-size: 20px;
  transform: translateY(100%);
  font-weight: lighter;
  transition-delay: 0.15s;
  margin-bottom: 5px;
  padding-top: 20px;
  color: white !important;
}

figure h5 {
  border-radius: 6px;
  font-weight: normal;
  background-color: #933474;
  padding: 3px 10px;
  font-size: 20px;
  transform: translateY(100%);
  transition-delay: 0.1s;
}

figure:hover h3,
figure.hover h3,
figure:hover p,
figure.hover p,
figure:hover h5,
figure.hover h5 {
  transform: translateY(0);
  opacity: 1;
}
</style>
