@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

//Hier komen @Bulma variabelen. Zoek op google :)
$family-sans-serif: "Work Sans", sans-serif;
$body-background-color: hsl(0, 1%, 10%);
$grey: hsl(100, 50%, 80%);
$red: rgb(255, 0, 0);
$link-hover: $red;
$title-color: $red;
$link: $grey;

//$size-1: 5em;
//$size-2: 4em;
//$size-6: 4.5em;
@import '~animate.css';
@import '~bulma';

.hide {
    display: none;
}