<template>
  <section class="contop">
    <h1 class="has-text-centered is-size-1 has-text-white titletop">
      Now watching {{ movie.full_name }}
    </h1>

    <div class="columns">
      <div class="column is-one-quarter custompadding">
        <h6 class="is-size-6 has-text-grey-light">
          <strong class="has-text-grey-light">About:</strong> <br />{{
            movie.description
          }}
        </h6>

        <button
          class="button is-link favorites-button is-rounded"
          @click="updateFavorite"
        >
          <span :class="[{ hide: isFavorite }]"> Add to </span>
          <span :class="[{ hide: !isFavorite }]"> Remove from </span>
          &nbsp;favorites
          <i class="fa fa-plus-square-o"></i>
        </button>
      </div>
      <div class="column custompadding1">
        <video
          ref="videoRef"
          class="vid-player"
          controls
          :src="this.movie.movie_url"
        ></video>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  created() {
    this.fetchMovie();
  },

  data() {
    return {
      loading: true,
      movie: "",
      isFavorite: false,
      fetchError: false,
      query: "",
      videos: [],
    };
  },

  methods: {
    async fetchMovie() {
      try {
        this.$vm = this;
        this.movie = await fetch(
          `${process.env.VUE_APP_API_HOST}/api/movies/movie/${this.$route.params.video}`
        )
          .then((res) => res.json())
          .then((proxy) => JSON.parse(JSON.stringify(proxy)));
        document.title = this.$route.meta.title;
        if (this.movie.movie_url === undefined) {
          this.movie = "";
          this.fetchError = true;
          this.$toast.error(
            "Tried to fetch incomplete movie data. Try again later."
          );
        } else document.title += ": " + this.movie.full_name;
      } catch (e) {
        this.fetchError = true;
        this.$toast.error(
          "There was an error fetching your video. Try again later."
        );
      }
      this.checkFavorite();
      this.loading = false;
    },
    async checkFavorite() {
      this.isFavorite = await fetch(
        `${process.env.VUE_APP_API_HOST}/api/favorites/check-fav/${this.$store.state.user.id}/${this.movie.id}`
      )
        .then((res) => res.json())
        .then((proxy) => JSON.parse(JSON.stringify(proxy)));
    },

    async updateFavorite() {
      if (!this.loading) {
        let response;
        if (this.isFavorite) {
          response = await fetch(
            `${process.env.VUE_APP_API_HOST}/api/favorites/rem-fav/${this.$store.state.user.id}/${this.movie.id}`
          );
        } else if (!this.isFavorite) {
          response = await fetch(
            `${process.env.VUE_APP_API_HOST}/api/favorites/add-fav/${this.$store.state.user.id}/${this.movie.id}`
          );
        }

        if (response.ok) {
          this.isFavorite = !this.isFavorite;
        }
      }
    },
  },
};
</script>
<style scoped>
.container {
  margin-top: 30px;
  width: 600px;
}

.hide {
  display: none;
}

.contop {
  padding-top: 50px;
  padding-left: 12px;
}

.titletop {
  padding-bottom: 25px;
}

button {
  margin: 10px;
}

h1 {
  padding: 30px;
}

.custompadding {
  margin-left: 50px;
}

.custompadding1 {
  margin-left: 40px;
}
</style>
