﻿<template>
  <div class="columns is-centered has-text-centered">
    <br />
    <br />
    <br />

    <div class="column is-1">
      <div v-if="loading" class="loading">
        Loading... <span v-show="loading" class="loader is-loading"> </span>
      </div>
    </div>
  </div>
  <div v-if="!this.fetchError && this.videos.length !== 0">
    <transition-group
      name="staggered-fade"
      v-bind:css="false"
      v-on:before-enter="beforeEnter"
      v-on:enter="enter"
      v-on:leave="leave"
    >
      <div key="search">
        <h1 key="search2" class="title has-text-white has-text-centered">
          Your favorite movies
        </h1>
        <div
          key="search3"
          class="columns features is-multiline has-text-centered"
        >
          <Video
            v-for="(video, index) in computedList"
            :key="video.full_name"
            :data-index="index"
            :video="this.videos[index]"
            class="column is-4 is-centered"
          >
            {{ video.full_name }}
          </Video>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import Video from "../components/Video.vue";
import Velocity from "velocity-animate";

export default {
  loading: true,
  components: { Video },
  head: {
    title: "Vistream | Favorites",
  },
  created() {
    this.fetchVideos();
  },
  data() {
    return {
      query: "",
      loading: true,
      fetchError: false,
      videos: [],
    };
  },
  computed: {
    computedList: function () {
      let vm = this;
      return this.videos.filter(function (video) {
        return (
          video.full_name.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
        );
      });
    },
  },
  methods: {
    async fetchVideos() {
      try {
        this.videos = await fetch(
          `${process.env.VUE_APP_API_HOST}/api/movies/get-favs/${this.$store.state.user.id}`
        )
          .then((res) => res.json())
          .then((fetchResult) => fetchResult);
        if (this.videos[0].url_name === undefined) {
          this.videos = [];
          this.fetchError = true;
          this.$toast.error(
            "Trying to fetch corrupt movie data. Try again later."
          );
        }
      } catch (e) {
        this.fetchError = true;
        this.$toast.error(
          "There was an error fetching your movies. Try again later."
        );
      }
      this.loading = false;
    },
    beforeEnter: function (el) {
      el.style.opacity = 0;
      el.style.height = 0;
    },
    enter: function (el, done) {
      let delay = el.dataset.index * 150;
      setTimeout(function () {
        Velocity(el, { opacity: 1, height: "1.6em" }, { complete: done });
      }, delay);
    },
    leave: function (el, done) {
      let delay = el.dataset.index * 150;
      setTimeout(function () {
        Velocity(el, { opacity: 0, height: 0 }, { complete: done });
      }, delay);
    },
  },
};
</script>
<style scoped>
.input {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.89);
  margin: 30px 0;
  animation: fadeinLong 2s ease-in;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: grey !important;
  opacity: 0.5 !important;
  font-weight: bold;
}

@keyframes fadeinLong {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
</style>
