<template>
  <div key="search5" class="columns features is-multiline has-text-centered">
    <div class="columns is-centered has-text-centered">
      <div
        class="column is-5-desktop is-6-tablet is-8-mobile is-offset-2-mobile"
      >
        <input
          v-model.trim="query"
          class="input"
          placeholder="Search: Tom & Jerry"
        />
      </div>
      <div class="column is-1">
        <div v-if="loading" class="loading">
          Loading... <span v-show="loading" class="loader is-loading"> </span>
        </div>
      </div>
    </div>
    <div v-if="!this.fetchError && this.videos.length !== 0">
      <transition-group
        name="staggered-fade"
        v-bind:css="false"
        v-on:before-enter="beforeEnter"
        v-on:enter="enter"
        v-on:leave="leave"
      >
        <div key="search">
          <h1 key="search2" class="title has-text-white titlecustom">
            All movies
          </h1>
          <div
            key="search3"
            class="columns features is-multiline has-text-centered"
          >
            <Video
              v-for="(video, index) in computedList"
              :key="video.full_name"
              :video="this.videos[index]"
              class="column is-4 is-centered"
              >{{ video.full_name }}
            </Video>
          </div>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import Velocity from "velocity-animate";
import Video from "../components/Video";

export default {
  name: "Movies",
  components: { Video },
  head: {
    title: "Vistream | Movies",
  },
  computed: {
    computedList: function () {
      return this.videos.filter((video) => {
        return video.full_name.toLowerCase().includes(this.query.toLowerCase());
      });
    },
  },
  data() {
    return {
      query: "",
      loading: true,
      fetchError: false,
      videos: [],
    };
  },
  created() {
    this.fetchVideos();
    document.title = this.$route.meta.title;
  },

  methods: {
    async fetchVideos() {
      try {
        this.videos = await fetch(
          `${process.env.VUE_APP_API_HOST}/api/movies/get-movies`
        )
          .then((res) => res.json())
          .then((proxy) => JSON.parse(JSON.stringify(proxy)));

        if (this.videos[0].url_name === undefined || this.videos.length < 3) {
          this.videos = [];
          this.fetchError = true;
          this.$toast.error(
            "Tried to fetch incomplete movie data. Try again later."
          );
        }
      } catch (e) {
        this.fetchError = true;
        this.$toast.error(
          "There was an error fetching your movies. Try again later."
        );
      }
      this.loading = false;
    },
    beforeEnter: function (el) {
      el.style.opacity = 0;
      el.style.height = 0;
    },
    enter: function (el, done) {
      let delay = el.dataset.index * 150;
      setTimeout(function () {
        Velocity(el, { opacity: 1, height: "1.6em" }, { complete: done });
      }, delay);
    },
    leave: function (el, done) {
      let delay = el.dataset.index * 150;
      setTimeout(function () {
        Velocity(el, { opacity: 0, height: 0 }, { complete: done });
      }, delay);
    },
  },
};
</script>

<style scoped>
.titlecustom {
  padding-top: 30px !important;
}
</style>
