<template>
  <div class="background">
    <section class="section">
      <div class="container is-one-quarter">
        <div class="columns is-multiline is-centered">
          <h2 class="title column is-10 has-text-centered is-marginless">
            Login
          </h2>

          <div
            class="
              column
              is-8-mobile
              is-offset-2-mobile
              is-6-tablet
              is-5-desktop
              is-4-widescreen
            "
          >
            <Form method="post" @submit="login" :validation-schema="schema">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <Field
                    type="email"
                    class="input"
                    name="email"
                    placeholder="movielover@movies.com"
                    required
                    v-model="email"
                  />
                  <span class="focus-border"></span>
                  <ErrorMessage name="email" class="error-feedback" />
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <Field
                    type="password"
                    class="input"
                    name="password"
                    autocomplete="on"
                    required
                    v-model="password"
                  />
                  <span class="focus-border"></span>
                  <ErrorMessage name="password" class="error-feedback" />
                </div>
              </div>
              <div class="control">
                <button
                  type="submit"
                  class="button is-info is-fullwidth"
                  :disabled="loading"
                >
                  <span v-show="loading" class="loader is-loading"> </span>
                  <span> Log In</span>
                </button>
              </div>
              <div>
                <div
                  v-if="message"
                  class="has-text-danger is-danger"
                  role="alert"
                >
                  {{ message }}
                </div>
              </div>
            </Form>
          </div>
          <div class="column is-10 has-text-centered is-size-5">
            No account yet?
            <router-link class="is-underlined" to="/register"
              >Sign me up!
            </router-link>
          </div>
          <div class="column is-3 has-text-centered is-size-5">
            <router-link to="/Webcam" class="button google"
              >Login with FaceID</router-link
            >
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

import { mapGetters } from "vuex";

export default {
  name: "Login",
  components: {
    Form,
    Field,
    ErrorMessage,
  },

  data() {
    const schema = yup.object().shape({
      email: yup.string().required("Email is required!"),
      password: yup.string().required("Password is required!"),
    });
    return {
      email: "",
      password: "",
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    ...mapGetters(["isLoggedIn"]),
  },
  created() {
    document.title = this.$route.meta.title;
    if (this.isLoggedIn) {
      this.$router.push({
        name: "user",
        params: { id: this.$store.state.user.id },
      });
    }
  },

  methods: {
    async login() {
      this.loading = true;
      await this.$store
        .dispatch("login", { email: this.email, password: this.password })
        .then(
          () => {
            if (this.isLoggedIn)
              this.$router.push({
                name: "user",
                params: { id: this.$store.state.user.id },
              });
            this.$toast.success(
              "Hi '" + this.$store.state.user.username + "' :)!"
            );
          },
          (error) => {
            this.loading = false;
            this.$toast.error("Oops: " + error); //TODO Array of messages :)
          }
        );
    },
  },
};
</script>

<style scoped>
.title {
  font-weight: lighter;
  letter-spacing: 0;
  animation: fadein 1s ease-in;
  transition: 0.2s ease-in-out;
  font-size: calc(16px + 6 * ((100vw + 1000px) / 300)) !important;
  margin-top: 30px !important;
  max-width: 100%;
}

section *:not(a) {
  color: white !important;
  font-weight: lighter;
}

section {
  min-height: 100%;
  min-width: 100%;
}

.background {
  height: 100%;
  background-image: url("../assets/loginBackground.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  animation: fadeinLong 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  color: black !important;
  font-weight: bold;
}

.input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
}

.input:hover ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.button {
  transition: 0.15s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.google {
  background-color: lightgray !important;
  color: black !important;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.google:hover {
  background-color: darkgray !important;
  color: black !important;
}

.button:hover:not(.google) {
  background-color: #6f72ff !important;
}

body,
html {
  padding: 0 !important;
  width: 100% !important;
  min-height: 100vh !important;
}

a {
  transition: 0.15s ease-in-out;
  text-underline-offset: 5px;
}

a:hover {
  color: red !important;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: grey !important;
  opacity: 0.5 !important;
  font-weight: bold;
}

.noshow {
  visibility: hidden;
}

@keyframes fadeinLong {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
