<template>
  <div class="background">
    <section class="section">
      <div class="container">
        <div class="columns is-multiline is-centered">
          <h2 class="title column is-10 has-text-centered is-marginless">
            Registration
          </h2>
          <div
            class="
              column
              is-8-mobile
              is-offset-2-mobile
              is-6-tablet
              is-5-desktop
              is-4-widescreen
            "
          >
            <Form
              method="post"
              @submit="registerClient"
              :validation-schema="schema"
            >
              <div v-if="!successful">
                <div class="field">
                  <div class="control">
                    <label class="label">Username</label>
                    <Field
                      type="text"
                      class="input"
                      name="username"
                      required
                      placeholder="MovieLover123"
                      v-model="username"
                    />
                    <span class="focus-border"></span>
                    <ErrorMessage name="username" class="error-feedback" />
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="label">Email</label>
                    <Field
                      type="email"
                      class="input"
                      name="email"
                      required
                      placeholder="movielover@movies.com"
                      v-model="email"
                    />
                    <span class="focus-border"></span>
                    <ErrorMessage name="email" class="error-feedback" />
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="label">Password</label>
                    <Field
                      type="password"
                      class="input"
                      name="password"
                      autocomplete="on"
                      required
                      v-model="password"
                    />
                    <span class="focus-border"></span>
                    <br />
                    <ErrorMessage name="password" class="error-feedback" />
                  </div>
                </div>
                <div class="control">
                  <button
                    type="submit"
                    class="button is-info is-fullwidth"
                    :disabled="loading"
                  >
                    <span v-show="loading" class="loader is-loading"> </span>
                    <span>Register</span>
                  </button>
                </div>
              </div>
            </Form>

            <div
              v-if="message"
              class="notification"
              v-bind:class="{
                'is-succes': successful,
                'is-danger': !successful,
              }"
            >
              {{ message }}
            </div>
          </div>
          <div class="column is-10 has-text-centered is-size-5">
            Already got an account?
            <router-link class="is-underlined" to="/login"
              >Sign me in!
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import { mapGetters } from "vuex";

export default {
  /***********************
   *
   * https://animate.style/
   *
   * :)
   *
   *********************/

  name: "Register",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    const schema = yup.object().shape({
      username: yup
        .string()
        .required("Username is required!")
        .min(3, "Must be at least 3 characters!")
        .max(20, "Must be maximum 20 characters!"),
      email: yup
        .string()
        .required("Email is required!")
        .email("Email is invalid!")
        .max(50, "Must be maximum 50 characters!"),
      password: yup
        .string()
        .required("Password is required!")
        .min(6, "Must be at least 6 characters!")
        .max(40, "Must be maximum 40 characters!"),
    });

    return {
      username: "",
      email: "",
      password: "",
      successful: false,
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    ...mapGetters(["isLoggedIn"]),
  },
  mounted() {
    if (this.isLoggedIn) {
      this.$router.push("/profile");
    }
  },

  methods: {
    async registerClient(user) {
      this.message = "";
      this.successful = false;
      this.loading = true;

      this.$store.dispatch("register", user).then(
        (data) => {
          this.message = data.message;
          this.successful = true;
          this.loading = false;
          this.$router.push({
            name: "user",
            params: { id: this.$store.state.user.id },
          });
          this.$toast.success("Registered successfully!");
        },
        (error) => {
          this.loading = false;
          this.$toast.error("Oops: " + error); //TODO Array of messages :)
        }
      );
    },
  },
};
</script>
<style scoped>
.title {
  font-weight: lighter;
  letter-spacing: 0;
  animation: fadein 1s ease-in;
  transition: 0.2s ease-in-out;
  font-size: calc(16px + 6 * ((100vw + 1000px) / 300)) !important;
  margin-top: 30px !important;
  max-width: 100%;
}

section *:not(a) {
  color: white !important;
  font-weight: lighter;
}

section {
  min-height: 100%;
  min-width: 100%;
}

.background {
  height: 100%;
  background-image: url("../assets/registerBackground.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  animation: fadeinLong;
  animation-duration: 0.5s;
}

.input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  color: black !important;
  font-weight: bold;
}

.input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
}

.input:hover ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.button {
  transition: 0.15s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  background-color: #6f72ff !important;
}

body,
html {
  padding: 0 !important;
  width: 100% !important;
  min-height: 100vh !important;
}

a {
  transition: 0.15s ease-in-out;
  text-underline-offset: 5px;
}

a:hover {
  color: red !important;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: grey !important;
  opacity: 0.5 !important;
  font-weight: bold;
}

@keyframes fadeinLong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
