<template>
  <div class="container has-text-white">
    <br />
    <br />
    <br />

    <figure class="has-text-centered">
      <img
        class="avatar imgcustom"
        :src="this.$store.state.user.avatar_url"
        alt="avatar"
      />
    </figure>

    <h3
      class="customwelcome has-text-white has-text-centered is-size-1-desktop"
    >
      <strong class="has-text-white"
        >Welcome {{ currentUser.username }} !</strong
      >

      <p class="subtitle has-text-white">
        <strong class="has-text-white">Member since </strong>
        {{ currentUser.created_at }}
      </p>

      <hr class="pre" />
    </h3>

    <div class="columns">
      <div class="column is-half custompadding">
        <div class="column">
          <div class="pic-ctn">
            <img src="https://picsum.photos/200/300?t=1" alt="" class="pic" />
            <img src="https://picsum.photos/200/300?t=2" alt="" class="pic" />
            <img src="https://picsum.photos/200/300?t=3" alt="" class="pic" />
            <img src="https://picsum.photos/200/300?t=4" alt="" class="pic" />
            <img src="https://picsum.photos/200/300?t=5" alt="" class="pic" />
          </div>
        </div>
      </div>
      <div class="column custompadding">
        <h3
          class="title is-size-5 has-text-white customtitle has-text-centered"
        >
          Personal information:
        </h3>
        <p>
          <strong class="has-text-grey-light customunder">Id:</strong>
          {{ currentUser.id }}
        </p>

        <p>
          <strong class="has-text-grey-light customunder">Email:</strong>
          {{ currentUser.email }}
        </p>

        <p>
          <strong class="has-text-grey-light customunder"
            >Last updated at:</strong
          >
          {{ currentUser.updated_at }}
        </p>

        <hr class="pre" />

        <h3
            class="title is-size-5 has-text-white customtitle has-text-centered"
        >
          Want to use FaceID?
        </h3>

        <p class="custom">Upload a clear picture of yourself and next time easily login with faceID</p>



        <div id="column ImageUpload">
          <img
            id="userFacialMatching"
            src=""
            alt="No picture found"
            ref="uploadedImage"
          />
          <span id="PictureValid"></span>
          <input id="fileUpload" type="file" accept=".jpg" />
          <img id="uploading" src="" alt="" class="is-hidden" />
          <div class="has-text-centered">
                 <button @click="onUpload" class="button is-link">Upload</button>
          </div>
        </div>
      </div>
    </div>

    <div class="columns recom custompadding">
      <div class="column is-half">
        <h1 class="title has-text-grey-light">
          Some new movies you want to see?
        </h1>
        <h2>Sent your request with the form down below ;)</h2>

        <div class="field">
          <div class="control">
            <textarea
              class="textarea"
              placeholder="Harry Potter"
              rows="3"
            ></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <router-link to="/submit" class="button is-link"
              >Submit</router-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as faceAPI from "face-api.js";
import Http from "@/repositories/clients/AxiosClient";
const resource = "/face";

export default {
  name: "User",
  created() {
    document.title = this.$route.meta.title;
  },
  data() {
    return {
      isActive: false,
      uploadImage: null,
      file: null,
      uploadingImage: null,
      hasFace: null,
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.user;
    },
  },
  mounted() {
    this.uploadImage = document.getElementById("userFacialMatching");
    //fetch image using currentUser and place in img tag
    this.file = document.getElementById("fileUpload");
    this.validImage = document.getElementById("PictureValid");
    this.uploadingImage = document.getElementById("uploading");
    Http.post(
      `${process.env.VUE_APP_API_HOST}/api/face/${this.$store.state.user.id}/getimage`
    ).then((resp) => {
      this.uploadImage.src = resp.data;
    });
  },
  methods: {
    async changePic() {
      await Http.post(
        `${process.env.VUE_APP_API_HOST}/api/face/${this.$store.state.user.id}/getimage`
      ).then((resp) => {
        this.uploadImage.src = resp.data;
      });
      this.validImage.innerHTML = "";
    },

    async onUpload() {
      this.validImage.innerHTML = "Uploading image";
      //console.log(this.getDataUrl(this.$refs.uploadImage))
      let curfiles = this.file.files[0];
      let base64string = null;
      // encode the file using the FileReader API
      const reader = new FileReader();
      reader.onloadend = () => {
        // use a regex to remove data url part
        base64string = reader.result.replace("data:", "").replace(/^.+,/, "");
        // log to console
        // logs wL2dvYWwgbW9yZ...

        Http.post(`${resource}/${this.$store.state.user.id}/setimage`, {
          image: base64string,
        }).catch(function (error) {
          if (error.response) {
            throw error.response.data;
          }
        });
        this.validImage.innerHTML = "Uploaded image";
      };
      reader.readAsDataURL(curfiles);
      await this.changePic();
    },

    async loadModel() {
      this.uploadingImage.src = this.file.files[0].src;
      await faceAPI.nets.ssdMobilenetv1.loadFromUri("/models");
      //await faceAPI.nets.faceLandmark68Net.loadFromUri('/models');
      await faceAPI.nets.faceRecognitionNet.loadFromUri("/models");
      await faceAPI.nets.faceLandmark68TinyNet.loadFromUri("/models");
    },
    async checkImage() {
      await this.loadModel();
      const minConfidence = 0.85;
      const faceDetectionOptions = new faceAPI.SsdMobilenetv1Options({
        minConfidence: minConfidence,
      });
      const result = await faceAPI.detectSingleFace(
        this.uploadingImage,
        faceDetectionOptions
      );
      console.log(result);

      if (result) {
        this.hasFace = true;
      }
    },
  },
};
</script>

<style scoped>
.customwelcome {
  font-size: 75px;
}

#ImageUpload {
  z-index: 1;
}

.pic-ctn {
  width: 100vw;
  z-index: -1;
  height: 200px;
}

.custom{
  margin-bottom: 20px;
  margin-top: -40px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 275px;
}

.pic-ctn > img {
  position: absolute;
  left: 200px;
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

.pre {
  background: linear-gradient(
    to right,
    rgba(232, 84, 17, 1) 0%,
    rgba(246, 2, 2, 1) 35%,
    rgba(255, 217, 0, 1) 100%
  );
}

.imgcustom {
  padding-top: 75px;
  height: 275px;
}

.custompadding {
  margin-left: 20px;
  margin-right: 30px;
}

.subtitle {
  font-size: 12px !important;
  text-align: right;
  padding-bottom: -10px;
}

.customtitle {
  padding-bottom: 20px;
}

.customunder {
  padding-bottom: 10px;
}
</style>
