<template>
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title has-text-grey-light">Let's start!</h1>
        <button @click="startWebcam" class="button is-rounded">Click me</button>

        <hr class="pre" />
        <p class="email">Fill in Email:</p>
        <input
          type="email"
          id="emailField"
          v-model="this.email"
          pattern=".+@.+\..+"
        />
        <span id="EmailFound"></span>
        <div class="column">
          <video class="webcam" ref="webcam" autoplay width="300"></video>
        </div>
        <div>
          <span id="FaceDetected"></span>
        </div>
      </div>
    </div>

    <div
      class="columns is-12 has-text-centered is-multiline is-centered"
      style="margin-bottom: 40px"
    ></div>

    <div class="columns has-text-centered is-centered">
      <button @click="takePic" class="button is-large is-rounded is-success">
        <img src="../assets/img.png" class="buttonimage" />
      </button>
      <button @click="stopWebcam" class="button is-rounded is-large is-danger">
        <img src="../assets/img_1.png" class="buttonimage" />
      </button>
    </div>

    <div
      class="columns is-12 has-text-centered is-multiline is-centered is-hidden"
    >
      <h2 class="column is-12">Photo</h2>
      <img
        class="column is-4 is-half"
        src=""
        ref="photo"
        id="WebcamPic"
        alt="The screen capture will appear in this box."
      />
    </div>
    <img id="ReferenceImage" class="is-hidden" src="" crossorigin="anonymous" />

    <canvas ref="canvas" id="canvas"></canvas>
  </div>
</template>

<script>
import * as faceAPI from "face-api.js";
import Http from "../repositories/clients/AxiosClient";
import { mapGetters } from "vuex";

export default {
  name: "Webcam",
  created() {
    document.title = this.$route.meta.title;
  },
  data() {
    return {
      isCameraOn: false,
      isPictureTaken: false,
      refImage: "",
      webcamImage: "",
      uploadImage: null,
      file: null,
      email: "",
      userId: "",
      imgLink: "",
    };
  },

  mounted() {
    this.refImage = document.getElementById("ReferenceImage");
    this.webcamImage = document.getElementById("WebcamPic");
    this.faceDetected = document.getElementById("FaceDetected");
    this.emailValid = document.getElementById("EmailFound");
  },

  computed: {
    ...mapGetters(["isLoggedIn"]),
  },

  methods: {
    async loadModel() {
      this.faceDetected.innerHTML = "";
      this.emailValid.innerHTML = "";
      await faceAPI.nets.ssdMobilenetv1.loadFromUri("/models");
      //await faceAPI.nets.faceLandmark68Net.loadFromUri('/models');
      await faceAPI.nets.faceRecognitionNet.loadFromUri("/models");
      await faceAPI.nets.faceLandmark68TinyNet.loadFromUri("/models");
    },

    async runModel() {
      this.faceDetected.innerHTML = "Checking picture against database";
      const resultsRef = await faceAPI
        .detectAllFaces(this.refImage)
        .withFaceLandmarks(true)
        .withFaceDescriptors();
      console.log(resultsRef);
      if (!resultsRef.length) {
        return;
      }
      // create FaceMatcher with automatically assigned labels
      // from the detection results for the reference image
      const faceMatcher = new faceAPI.FaceMatcher(resultsRef);
      const singleResult = await faceAPI
        .detectSingleFace(this.webcamImage)
        .withFaceLandmarks(true)
        .withFaceDescriptor();
      console.log(singleResult);
      let string = "";
      if (singleResult) {
        const bestMatch = faceMatcher.findBestMatch(singleResult.descriptor);
        string = bestMatch.toString();
        console.log(string);
      }

      const splitted = string.split("(");
      if (splitted[0].toLowerCase().includes("person")) {
        //login
        let confidence = splitted[1].substr(0, 4);
        if (confidence > 0.38) {
          await this.$store.dispatch("loginpic", { email: this.email }).then(
            () => {
              if (this.isLoggedIn)
                this.$router.push({
                  name: "user",
                  params: { id: this.$store.state.user.id },
                });
              this.$toast.success(
                "Hi '" + this.$store.state.user.username + "' :)!"
              );
            },
            (error) => {
              this.$toast.error("Oops: " + error); //TODO Array of messages :)
            }
          );
        } else {
          this.faceDetected.innerHTML =
            "No match was found. Try again or login using email and password";
        }
      } else {
        this.faceDetected.innerHTML =
          "No match was found. Try again or login using email and password";
      }
    },
    startWebcam() {
      this.loadModel();
      if (navigator.mediaDevices.getUserMedia && !this.isCameraOn) {
        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then((stream) => (this.$refs.webcam.srcObject = stream))
          .catch((error) => console.log(error));
        this.isCameraOn = true;
      }
    },
    stopWebcam() {
      if (this.isCameraOn) {
        this.$refs.webcam.srcObject = null;
        this.isCameraOn = false;
      }
    },
    async takePic() {
      if (this.isCameraOn) {
        this.clearPic();
        const width = this.$refs.webcam.videoWidth;
        const height = this.$refs.webcam.videoHeight;
        let canvas = this.$refs.canvas;
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        let context = canvas.getContext("2d");
        context.drawImage(this.$refs.webcam, 0, 0, width, height);
        this.$refs.photo.setAttribute("src", canvas.toDataURL("image/jpg"));
        this.isPictureTaken = true;

        await Http.post(`${process.env.VUE_APP_API_HOST}/api/face/getuserid`, {
          email: this.email,
        }).then((resp) => {
          this.userId = resp.data;
        });
        if (this.userId === "No user was found with this email") {
          this.emailValid.innerHTML =
            "Email was not found in our database. Please register or fill in the correct email.";
        } else {
          // const image = await fetch(`${process.env.VUE_APP_API_HOST}/api/face/${userid}/getimage`)
          await Http.post(
            `${process.env.VUE_APP_API_HOST}/api/face/${this.userId}/getimage`,
            {
              headers: {
                "Access-Control-Allow-Origin": "*",
              },
            }
          ).then((resp) => {
            this.imgLink = resp.data;
          });
          if (
            this.imgLink === "No image was found for this user" ||
            this.imgLink === undefined
          ) {
            this.validImage.innerHTML =
              "No image was found for this user. Login normally with your email and password";
          } else {
            this.refImage.src = this.imgLink;
            await this.runModel();
            this.stopWebcam();
          }
        }
      }
    },
    clearPic() {
      this.$refs.photo.setAttribute("src", "");
      this.isPictureTaken = false;
    },
  },
};
</script>

<style scoped>
img {
  width: 300px;
  margin: 0;
  padding: 0;
  height: auto;
}

.container {
  margin-top: 90px;
}

h2 {
  margin: 0;
  padding: 0;
  color: white !important;
}

.buttonimage {
  height: 30px !important;
  width: 30px !important;
  margin: 0px !important;
}

.pre {
  background: linear-gradient(
    to right,
    rgba(232, 84, 17, 1) 0%,
    rgba(246, 2, 2, 1) 35%,
    rgba(255, 217, 0, 1) 100%
  );
}

video {
  margin-top: 30px;
}

button {
  margin: 30px 1px;
}

canvas {
  display: none;
}

.title {
  margin-bottom: 2px !important;
}

.email{
  font-size: 1.5em;
  color: aliceblue;
}

#emailField{
  width: 20em;
  height: 1.75em;
  font-size: 1em;
}

span{
  color: aliceblue;
}

button {
  margin: 10px !important;
}
</style>
